services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile.prod
    volumes:
      - ./database:/app/database
    environment:
      - PYTHONUNBUFFERED=1
    ports:
      - "8000:8000"
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile.prod
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: unless-stopped

networks:
  default:
    name: eat-rate-love-net


